In [1]:
#imports
import pandas as pd
import numpy as np
import os
import time
import matplotlib.pyplot as plt
import random

In [2]:
path_ground_truth = r"..\groundTruth"
path_myo_data = r"..\MyoData"

userGT_list = os.listdir(path_ground_truth)
userMyo_list = os.listdir(path_myo_data)
#By the assignment details will be using EMG data not IMU

In [3]:
#Use for later iteration through the user list, will test on first user, user09
userGT_list = [path_ground_truth + "\\" + i for i in userGT_list]
userMyo_list = [path_myo_data + "\\" + i for i in userMyo_list]

In [4]:
myo_fork_user = [userMyo_list[0] + "\\fork\\" + i for i in os.listdir(userMyo_list[0] + "\\fork")] 
myo_spoon_user = [userMyo_list[0] + "\\spoon\\" + i for i in os.listdir(userMyo_list[0] + "\\spoon")] 
femg = pd.read_csv(myo_fork_user[0],
                           names = ["UNIX_TIME","EMG1","EMG2",
                                    "EMG3","EMG4","EMG5",
                                    "EMG6","EMG7","EMG8"])

semg = pd.read_csv(myo_spoon_user[0],
                  names = ["UNIX_TIME","EMG1","EMG2",
                            "EMG3","EMG4","EMG5",
                            "EMG6","EMG7","EMG8"])

ground_fork_user = [userGT_list[0] + "\\fork\\" + i for i in os.listdir(userGT_list[0] + "\\fork")] 
ground_spoon_user = [userGT_list[0] + "\\spoon\\" + i for i in os.listdir(userGT_list[0] + "\\spoon")]

forkgt = pd.read_csv(ground_fork_user[0], names = ["Start", "End","Ignore"])
spoongt = pd.read_csv(ground_spoon_user[0], names = ["Start", "End","Ignore"])

In [5]:
spoongt = spoongt[["Start","End"]]
forkgt = forkgt[["Start","End"]]

In [6]:
forkgt.head()

   Start   End
0    234   280
1    781   860
2   1220  1258
3   1570  1607
4   2096  2126

In [7]:
#convert IMU and EMG to seconds to get an idea of sample rate
average = 0
count = 0
for i in range(1000):
    diff = int(femg[i+1:i+2]["UNIX_TIME"])/1000 - int(femg[i:i+1]["UNIX_TIME"])/1000
    average = average + diff
    count = count + 1
average = average/count
print("EMG sample rate: " + str(average) + " " + str(count))
#average shows that sample rate is about 100hz for emg and imu is 50hz

EMG sample rate: 0.009756999969482422 1000

In [8]:
#Normalize the data between ground truth framerate (30f/sec) and emg data (100hzs = 100/s)

#fork ground truth for eating and non-eating normalized to 100hz
fgt_eating = np.round_((forkgt.values * 100 / 30))

fgt_noneating = []
last_stop = 0
for i in fgt_eating:
    if last_stop == 0:
        fgt_noneating.append([0,i[0]]) 
    else:
        fgt_noneating.append([last_stop,i[0]])
    last_stop = i[1]

#Spoon ground truth for eating and non-eating, normalized to 100hz
sgt_eating = np.round_((spoongt.values * 100 / 30))

sgt_noneating = []
last_stop = 0
for i in sgt_eating:
    if last_stop == 0:
        sgt_noneating.append([0,i[0]]) 
    else:
        sgt_noneating.append([last_stop,i[0]])
    last_stop = i[1]

In [9]:
#Now with normalized data and the idea that eating and sensor data cn be assumed to start at 0 for ground truth data
#We can splice out eat from non-eating as the ground truth data has essentially been turned into ranges for EMG data

#Fork non-eating data frame creation
femg_noneating = pd.DataFrame()
for i in range(len(fgt_noneating)):
    temp = femg[int(fgt_noneating[i][0]):int(fgt_noneating[i][1])] 
    femg_noneating = pd.concat([femg_noneating,temp])

#Fork eating data frame creation 
femg_eating = pd.DataFrame()
for i in range(len(fgt_eating)):
    temp = femg[int(fgt_eating[i][0]):int(fgt_eating[i][1])] 
    femg_eating = pd.concat([femg_eating,temp])

    
#Spoon non-eating data frame creation 
semg_noneating = pd.DataFrame()
for i in range(len(sgt_noneating)):
    temp = semg[int(sgt_noneating[i][0]):int(sgt_noneating[i][1])] 
    semg_noneating = pd.concat([semg_noneating,temp])

#Spoon eating data frame creation     
semg_eating = pd.DataFrame()
for i in range(len(sgt_eating)):
    temp = semg[int(sgt_eating[i][0]):int(sgt_eating[i][1])] 
    semg_eating = pd.concat([semg_eating,temp])

In [19]:
femg # data frame for all fork emg data

           UNIX_TIME  EMG1  EMG2  EMG3  EMG4  EMG5  EMG6  EMG7  EMG8
0      1503510449719    -1    -2    -1    -3    -2    -1     2     0
1      1503510449726     0     0     0    -2     0    -1     0     0
2      1503510449741    -3     0     0    -1    -2    -1    -1    -1
3      1503510449749     0     1    -1    -1    -3    -2    -1     0
4      1503510449756     0    -3    -3     0     0     0    -4    -2
5      1503510449772     1    -1     0     0     3     0     1    -1
6      1503510449781     1     0    -1    -1    -1    -4    -6    -1
7      1503510449786    -1    -3    -1    -1    -1    -3    -2     0
8      1503510449803    -1     0     0    -1    -1     2     0     1
9      1503510449809     0    -1    -1    -2    -1     5    -1     0
10     1503510449830     1     0    -1     1     0     0     3    -1
11     1503510449832    -2     1    -2     0    -1    -4     0    -2
12     1503510449838     0     1     0    -1    -2     1     1    -1
13     1503510449860     1     0     0     0    -1    -2     1     0
14     1503510449861     0     1    -2    -1     0    -4     2    -2
15     1503510449869    -2    -1    -2    -1    -1    -2    -1    -2
16     1503510449883    -1    -2    -2    -1     0    -4    -8     0
17     1503510449892     0     0    -1    -2    -1     0     0    -1
18     1503510449898    -2    -1     0    -2     1     2     3     1
19     1503510449913     0     0     0     0    -1    -3    -3    -3
20     1503510449921     3    -1    -1    -1    -1     2    -1    -1
21     1503510449929    -2     0    -2     1    -1     2     1    -1
22     1503510449944    -2     1     0    -3    -1     1     0     0
23     1503510449951     0    -2    -1    -2    -3     1    -3    -1
24     1503510449958    -1    -1     0     1    -2    -3     0    -2
25     1503510449973    -1     0     1     0     0    -3     0    -2
26     1503510449981     1    -3    -3    -1     1     3     1    -2
27     1503510449989    -1    -3    -1     0    -1     3     1     1
28     1503510450002    -2    -1    -1     0    -2    -1     1     0
29     1503510450011    -3     0     1    -1     0     1    -1     2
...              ...   ...   ...   ...   ...   ...   ...   ...   ...
25293  1503510696742    -2   -15    -3     0     0    -1     0    -4
25294  1503510696750    -2     5     1     1    -3    -1    -1    -1
25295  1503510696757    -9     3     0     0     0     1    -1     1
25296  1503510696772    32     3     1     0    -1     3    -1     1
25297  1503510696779   -20    -2     5     2    -1    -3     0    -5
25298  1503510696788    -3     0    -1    -1     0    -1    -1    -1
25299  1503510696802    14     0    -4    -4    -2     1    -2    -4
25300  1503510696810     2    -5    -1     1     0    -1     0    12
25301  1503510696816     1    -8    -3    -1    -1    -1     2    10
25302  1503510696832     1    11     0    -1     0     0     1    -7
25303  1503510696839     5    24     6     0    -1    -3    -2   -15
25304  1503510696847     5     2    -2    -1    -1    -1    -1    -2
25305  1503510696863     4    -2    -1     1     1    -1    -1     1
25306  1503510696870    -8     3     1    -2     0    -3    -2    -3
25307  1503510696877   -12   -12    -4    -2    -2     0    -1     0
25308  1503510696892   -27    -7     0     0    -2    -1    -2   -13
25309  1503510696899    -2     1     2    -2    -2    -1     0    11
25310  1503510696914     1    -3    -3    -3    -7     0    -4     8
25311  1503510696922     3    12     4     1    -1    -1    -2    -2
25312  1503510696931    -4    -2     1     0     1    -1    -1    -4
25313  1503510696944     3    -4    -3    -3     0    -1    -2    -2
25314  1503510696953    -2    -1     1     0    -1    -3     1    -4
25315  1503510696960     1     0    -2     0     0     0     2     5
25316  1503510696975    -1   -10    -2    -1     1     1     0    22
25317  1503510696982   -14    -8    -4    -1     0     0    -2    -6
25318  1503510696983    23     8    -1     0    -4     0    -2     3
25319  1503510696991   -13    -3     6     4     1    -2     1    -9
25320  1503510697005   -55    -4     2    -1     0    -1    -4   -10
25321  1503510697013    17     8    -1    -1    -1     0    -3     0
25322  1503510697020    -4    -5    -3    -1    -2     1     1     1

[25323 rows x 9 columns]

In [10]:
 #data frame for all fork data that is classified as eating
femg_eating['eating'] = [True for i in range(len(femg_eating))] #Add in the classification variable of 'eating' set to true
femg_noneating['eating'] = [False for i in range(len(femg_noneating))]

semg_eating['eating'] = [True for i in range(len(semg_eating))] #Add in the classification variable of 'eating' set to true
semg_noneating['eating'] = [False for i in range(len(semg_noneating))]

In [24]:
femg_eating

           UNIX_TIME  EMG1  EMG2  EMG3  EMG4  EMG5  EMG6  EMG7  EMG8  eating
780    1503510457338     5    38    12    -2     0     0     4    10    True
781    1503510457352    -2    -5    -9   -47    -8    -4    -9    15    True
782    1503510457361    -3   -15    -7     6     2    -2    -5   -18    True
783    1503510457368     9    -6    -2    13     2     5    -1    -7    True
784    1503510457383    -4     2     0   -11    -5    -2    -1     7    True
785    1503510457389   -16    -4    -8    -3     0    -1     1    13    True
786    1503510457399   -10    13     3    -1    -1   -22    -4    -7    True
787    1503510457412    -7   -18    -2    10    -1    -8     5     0    True
788    1503510457420   -19     0    11     2     0     2    -5    12    True
789    1503510457428     5     5     7     7     3     3     8    21    True
790    1503510457443    28    -5    -5    -7    -1     3    -1    -4    True
791    1503510457449   -18    -6    -2     0     0     3    -3    -6    True
792    1503510457458    -5   -12    -8     6     1    -1    -5     6    True
793    1503510457472   -44    -3     0     3    -3    -5    -7   -30    True
794    1503510457480   -28    -3     4     1     5    27    11     6    True
795    1503510457488    49     2    -3    16    -2    -8   -20   -51    True
796    1503510457503     4    -6    -4    -7     0    -1    -3     7    True
797    1503510457509   -20     0     2    -4    -7     0   -11   -16    True
798    1503510457518     9   -27    -8     0    -5    -7    -4     3    True
799    1503510457535     1     8     6    -1     1     4    15     4    True
800    1503510457540    16     2     1    -1     3     2    15    42    True
801    1503510457548     5    -9    -6    -9    -2     9    24    92    True
802    1503510457563   -19    -9     0     2     0    -3     1   -17    True
803    1503510457570   -33     3    -3    -1    -1     4     1     2    True
804    1503510457578   -62    -8   -11    -6    -6    -3    -6   -53    True
805    1503510457592   -11     8     5     2     8    12    13     2    True
806    1503510457600    23    10     5     1     0    -4   -28     1    True
807    1503510457608   -45    -3    -4     6     0   -13   -12    -6    True
808    1503510457623    52     4     1    -1     0     0    11   -40    True
809    1503510457630    63   -14    -5    -6    -3     2     6   -29    True
...              ...   ...   ...   ...   ...   ...   ...   ...   ...     ...
24523  1503510689109     7     8    -1     0     0    -1     1     2    True
24524  1503510689123     5    27     4     1     1    -1     2    -2    True
24525  1503510689129     2   -16    -6    -4    -3    -2    -5    -3    True
24526  1503510689145     1    -8    -2    -2    -1    -1     5     2    True
24527  1503510689152    13    11     3     1     0     1     0     0    True
24528  1503510689160   -15   -17    -5    -2    -1     0    -4    -5    True
24529  1503510689167     8     0     4     0    -1    -2     2     1    True
24530  1503510689183    10    13    -1    -1    -1     0    -2     0    True
24531  1503510689190    -5     4     1    -1    -2    -2    -2    -1    True
24532  1503510689205   -15    13     1     0     0    -2    -2    -1    True
24533  1503510689212     5    -3    -4    -1     0     0     3     0    True
24534  1503510689220     5   -21     0     1    -2    -4    -3    -2    True
24535  1503510689227   -12     2     1    -1    -2     0     1    -1    True
24536  1503510689245    -6    -4    -1    -1    -1     2    -1    -4    True
24537  1503510689250   -10   -11    -2    -3     0    -2    -6    -1    True
24538  1503510689267    -2    -5    -5    -5    -1     0     2     1    True
24539  1503510689272    -1    -7    -4    -1     0     0    -2    -1    True
24540  1503510689280    -8    10     6    -1    -1     0     1     1    True
24541  1503510689287    -8    -4    -1     0     0    -2    -3    -2    True
24542  1503510689302    31    10     1     0    -1    -2    -3     0    True
24543  1503510689303   -10    -7    -4     0    -1    -1    -2     0    True
24544  1503510689310    -8    -7    -2    -1     0     0    -1    -2    True
24545  1503510689325    -1    -3    -2    -1     1    -2    -3     1    True
24546  1503510689334     6     0    -2     0    -2    -3    -2    -3    True
24547  1503510689340    11    12     4     1     0     1    -2    -2    True
24548  1503510689347     3    -2    -5    -4    -2     0     0     0    True
24549  1503510689362    -1    -3     0     0    -1     0    -3     1    True
24550  1503510689369     2     0    -3     0     0     1     0     2    True
24551  1503510689387    -7   -10    -1    -3    -1    -1    -2    -4    True
24552  1503510689392   -10   -14    -4     0     0     0     3    -1    True

[2308 rows x 10 columns]

In [19]:
#Next step, equalizing the number of eating and non-eating samples, 
#will randomly sample out noneating samples for as many eating samples
femg_noneating_sub = femg_noneating.sample(len(femg_eating),replace=False) #Fork non-eating subset
semg_noneating_sub = semg_noneating.sample(len(semg_eating),replace=False) #Spoon non-eating subset

In [20]:
femg_noneating.describe() # data frame for all fork non-eating

,UNIX_TIME,EMG1,EMG2,EMG3,EMG4,EMG5,EMG6,EMG7,EMG8
count,2.301500e+04,23015.000000,23015.000000,23015.000000,23015.000000,23015.000000,23015.000000,23015.000000,23015.000000
mean,1.503511e+12,-0.687465,-0.799131,-0.833804,-0.763676,-0.777145,-0.758549,-0.767586,-0.799783
std,7.126162e+04,12.696176,8.863228,3.563666,3.077443,2.984112,2.703500,3.068678,7.071865
min,1.503510e+12,-94.000000,-77.000000,-28.000000,-74.000000,-98.000000,-82.000000,-28.000000,-86.000000
25%,1.503511e+12,-7.000000,-5.000000,-3.000000,-2.000000,-2.000000,-2.000000,-2.000000,-3.000000
50%,1.503511e+12,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
75%,1.503511e+12,6.000000,3.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.000000
max,1.503511e+12,88.000000,82.000000,54.000000,91.000000,127.000000,92.000000,31.000000,70.000000

In [21]:
femg_noneating_sub.describe()

,UNIX_TIME,EMG1,EMG2,EMG3,EMG4,EMG5,EMG6,EMG7,EMG8
count,2.308000e+03,2308.000000,2308.000000,2308.000000,2308.000000,2308.000000,2308.000000,2308.000000,2308.000000
mean,1.503511e+12,-0.484835,-1.081023,-1.001733,-0.794627,-0.856153,-0.847487,-0.827990,-0.685009
std,7.128842e+04,12.924851,8.576382,3.459468,3.293125,3.194208,2.928147,3.129534,6.885842
min,1.503510e+12,-84.000000,-42.000000,-22.000000,-42.000000,-85.000000,-82.000000,-25.000000,-53.000000
25%,1.503511e+12,-7.000000,-6.000000,-3.000000,-2.000000,-2.000000,-2.000000,-2.000000,-3.000000
50%,1.503511e+12,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
75%,1.503511e+12,6.000000,3.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.000000
max,1.503511e+12,81.000000,60.000000,17.000000,91.000000,59.000000,25.000000,13.000000,48.000000

In [12]:
femg_eating.describe()

,UNIX_TIME,EMG1,EMG2,EMG3,EMG4,EMG5,EMG6,EMG7,EMG8
count,2.308000e+03,2308.000000,2308.000000,2308.000000,2308.000000,2308.000000,2308.000000,2308.000000,2308.000000
mean,1.503511e+12,-0.816724,-0.837522,-0.844887,-0.778596,-0.792894,-0.743934,-0.764298,-0.813692
std,7.250578e+04,13.183271,9.126621,3.742148,3.459084,1.717475,2.392524,3.567771,8.462772
min,1.503510e+12,-106.000000,-53.000000,-17.000000,-47.000000,-20.000000,-27.000000,-29.000000,-53.000000
25%,1.503511e+12,-8.000000,-6.000000,-3.000000,-2.000000,-2.000000,-2.000000,-2.000000,-4.000000
50%,1.503511e+12,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
75%,1.503511e+12,6.000000,3.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.000000
max,1.503511e+12,63.000000,68.000000,38.000000,47.000000,18.000000,27.000000,24.000000,92.000000

In [51]:
semg # data frame for all spoon emg data 34576 rows

           UNIX_TIME  EMG1  EMG2  EMG3  EMG4  EMG5  EMG6  EMG7  EMG8
0      1503510957307    -1    -1     0    -3     0    -2    -4    -4
1      1503510957314    -1    -6   -23   -10    -1    -1    -2    -4
2      1503510957322     1     0     1     1     0    -1    -2     2
3      1503510957336    -2     3    -3     0    -1    -1     1    -2
4      1503510957348    -2    -1    -4    -2     1     1     2     1
...              ...   ...   ...   ...   ...   ...   ...   ...   ...
34571  1503511293211    -4     2    -2    -2     0    -1    -2     0
34572  1503511293216     0     0     0    -2    -3     1    -2    -1
34573  1503511293231    -1    -3    -4    -1    -1     0     2     3
34574  1503511293239    -6    -2     2    -1     0     0     1     1
34575  1503511293250     0     0    -3    -3     2    -2    -1     1

[34576 rows x 9 columns]

In [52]:
semg_noneating #data frame for all spoon eating data, spliced out 31251 rows

           UNIX_TIME  EMG1  EMG2  EMG3  EMG4  EMG5  EMG6  EMG7  EMG8
0      1503510957307    -1    -1     0    -3     0    -2    -4    -4
1      1503510957314    -1    -6   -23   -10    -1    -1    -2    -4
2      1503510957322     1     0     1     1     0    -1    -2     2
3      1503510957336    -2     3    -3     0    -1    -1     1    -2
4      1503510957348    -2    -1    -4    -2     1     1     2     1
...              ...   ...   ...   ...   ...   ...   ...   ...   ...
34571  1503511293211    -4     2    -2    -2     0    -1    -2     0
34572  1503511293216     0     0     0    -2    -3     1    -2    -1
34573  1503511293231    -1    -3    -4    -1    -1     0     2     3
34574  1503511293239    -6    -2     2    -1     0     0     1     1
34575  1503511293250     0     0    -3    -3     2    -2    -1     1

[31251 rows x 9 columns]

In [53]:
semg_eating #data frame for all spoon eating data spliced out to 3325 rows

           UNIX_TIME  EMG1  EMG2  EMG3  EMG4  EMG5  EMG6  EMG7  EMG8
780    1503510964844    -4     0     0     9     0    -1    -2     1
781    1503510964859    14     2    -3    -2     1     1    -2    -1
782    1503510964867     7    -3    -5    -4    -2    -3    -1     1
783    1503510964874    -3    -5     3    -1    -2     0    -2    -3
784    1503510964889    -3    -6    -7    -3    -1    -1    -2    -1
...              ...   ...   ...   ...   ...   ...   ...   ...   ...
33718  1503511284938   -10     0     2    -3    -2    -4    -2    -6
33719  1503511284952    -1     1    -2    -2     0    -2    -1     0
33720  1503511284958     3     5     1     1    -1     0     1     1
33721  1503511284967    10    -9    -3    -3    -1    -2    -1    -3
33722  1503511284981     0     9     4    -1    -2    -1    -1    -1

[3325 rows x 9 columns]

In [ ]:
femg_noneating_sub.describe()

In [66]:
femg_eating

           UNIX_TIME  EMG1  EMG2  EMG3  EMG4  EMG5  EMG6  EMG7  EMG8
6772   1503511023227   -28    -3    -1    -2    -1     1     0    -3
8956   1503511044423     5    30    12     0     1     0     5    18
4109   1503510997193     8     3    -1     0    -1    -3     1     2
18731  1503511139323    -3     4    -1    -2     0    -1    -1    -3
3874   1503510994992     4     0     0    -1    -1     0     0    -4
...              ...   ...   ...   ...   ...   ...   ...   ...   ...
29885  1503511247738    15     4     0     1     0     9     4    -6
1202   1503510968968    13    -3   -11    -2    -2    -5    -5   -13
3416   1503510990493    14    -7    -2     0    -1    -1     1     0
15292  1503511106009     2     2    -3    -6    -2     1    -2     0
8300   1503511038079     0   -40    -1     2     4     2     4    14

[3325 rows x 9 columns]